name: Build and deploy Function

on:
  push:
    branches:
      - master
    paths:
      - src/Function/**

env:
  AZURE_FUNCTIONAPP_PACKAGE_PATH: '.' # set this to the path to your web app project, defaults to the repository root
  DOTNET_VERSION: '3.1.301'  # set this to the dotnet version to use
  WORKING_DIRECTORY: './src/Function'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: 'Checkout GitHub Action'
      uses: actions/checkout@v2 
    - name: Setup DotNet ${{ env.DOTNET_VERSION }} Environment
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: ${{ env.DOTNET_VERSION }}
    - name: 'Resolve Project Dependencies Using Dotnet'
      shell: bash
      run: |
        pushd '${{ env.WORKING_DIRECTORY }}/RegioneLombardia.FunctionApp'
        dotnet build --configuration Release --output ./output
        popd

    - name: Initialize CodeQL
      uses: github/codeql-action/init@v1
      with:
        languages: 'csharp'
    - name: Autobuild
      uses: github/codeql-action/autobuild@v1
    - name: Perform CodeQL Analysis
      uses: github/codeql-action/analyze@v1

    - name: Upload artifact for deployment job
      uses: actions/upload-artifact@v2
      with:
        name: application
        path: ${{ env.WORKING_DIRECTORY }}/RegioneLombardia.FunctionApp/output

  deploy:
    runs-on: windows-latest
    needs: build
    steps:
    - name: Download artifact from build job
      uses: actions/download-artifact@v2
      with:
        name: application
    - name: 'Run Azure Functions Action'
      uses: Azure/functions-action@v1
      id: fa
      with:
        app-name: 'regionelombardia-function'
        slot-name: 'production'
        package: .
        publish-profile: ${{ secrets.AzureAppService_PublishProfile_d8d037c6a4cf4087aeeaeccc04fbe149 }}