name: Security scan
on:
  push:
    branches: master
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Initialize CodeQL
      uses: github/codeql-action/init@v1
      with:
        languages: csharp, javascript
    - run: |
          make bootstrap
          make release
    - name: Perform CodeQL Analysis
      uses: github/codeql-action/analyze@v1
